body{
    background-color: #222;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
background-color: #444;
    border-radius: 10px;
    margin: 5px;
    padding: 1px 7px 1px 7px;
    flex:  1 0 180px;
}

main div{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.mic{
    text-align: right;
    cursor: pointer;
}

main img
{
    border-radius: 35px;
}

.pic{
    text-align: center;
}

.active{
    border: 3px solid darkblue;
}