.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#header_flex a {
    margin: 1em;
    color: #333;
    text-decoration: none;
    font-family: Arial;
}
.card{
    border: 1px solid red;
}